<div class="body" data-editor="DecoupledDocumentEditor" data-collaboration="false">
    <div class="centered">
        <div class="row">
            <div class="document-editor__toolbar"></div>
        </div>
        <div class="row row-editor">
            <div class="editor" id="editor" ([ngModel])="content">
                {{content}}
            </div>
        </div>
    </div>
</div>