<h2>{{rol.name}}</h2>
<table>
    <tr>
        <td>Crear documento</td>
        <td>{{rol.create}}</td>
      </tr>
      <tr>
        <td>Editar documento</td>
        <td>{{rol.update}}</td>
      </tr>
      <tr>
        <td>Leer documento</td>
        <td>{{rol.read}}</td>
      </tr>
      <tr>
        <td>Eliminar documento</td>
        <td>{{rol.delete}}</td>
      </tr>
</table>
<button class="btn waves-effect red darken-4">Salir</button>

