.register-form{
    width: 40%;
    margin: 0 auto;
    z-index: 1;
}

.card{
    padding: 20px;
}

.form{
    margin-top: -5%;
    z-index: -1;
}

.icons{
    width: 25%;
    margin: 0 auto;
    font-size: 100%;
    padding: 5px;
    background-color: #0d47a1;
    z-index: 10;
}
i{
    font-size: 50px;
}

.button-submit{
    margin: 0 auto;
    width: 50%;
}

.btn{
    width: 100%;
}