<div class="register-form card  blue darken-4">
    <div class="icons circle">
        <img src="../../../assets/images/icon-user.jpg" alt="" width="100%" class="circle">
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitForm()" class="form card">
        <div class="input-field">
            <input formControlName="name" type="text" class="validate">
            <label>Nombre</label>
        </div>
        <div class="input-field">
            <input formControlName="email" type="text" class="validate">
            <label>@Correo</label>
        </div>
        <div class="input-field">
            <input formControlName="employeCode" type="text" class="validate">
            <label>Número de empleado</label>
        </div>

        <label>Area</label>
        <div class="input-field">
            <select formControlName="area" class="browser-default">
                <option value="" disabled selected>Escoja una area</option>
                <option *ngFor="let area of areasService.listAreas" value={{area.name}} >{{area.name}}</option>
              </select>
        </div>

        <label>Rol</label>
        <div class="input-field">
            <select formControlName="rol" class="browser-default">
                <option value="" disabled selected>Escoja un rol</option>
                <option *ngFor="let roles of rolesService.listRoles" value={{roles.name}} >{{roles.name}}</option>
              </select>
        </div>
        
        <div class="input-field">
            <input formControlName="password" type="password" class="validate">
            <label>Contraseña</label>
        </div>
        <div class="button-submit">
            <button class="btn waves-effect blue darken-4" type="submit" name="action">REGISTRAR</button>
        </div>
    </form>
</div>