<nav>
    <div class="nav-wrapper  blue darken-4">
        <a (click)="outputinputsidebar()" class="brand-logo right"><i class="material-icons">assignment_ind</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a routerLink="/inicio" class="waves-effect">Edición</a></li>
            <li><a routerLink="/inicio/DocumentList" class="waves-effect">Documentos</a></li>
            <li><a routerLink="/inicio/modulesFiles" class="waves-effect">Modulos</a></li>
            <li><a routerLink="/inicio/registro" class="waves-effect">Registro</a></li>
            <!--<li><a routerLink="/inicio/file" class="waves-effect">Archivo</a></li>-->
            <li><a routerLink="/inicio/roles" class="waves-effect">Roles</a></li>
            <li><a routerLink="/inicio/rol" class="waves-effect">Visualizar Roles</a></li>
            <li><a routerLink="/inicio/users" class="waves-effect">Visualizar Usuarios</a></li>
        </ul>
    </div>
</nav>
<app-user></app-user>