<div *ngFor="let area of areaService.listAreas">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{area.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row" *ngFor="let rol of rolesService.listRoles">
      <div class="row" dragula="DRAGULA_FACTS" *ngIf="rol.area == area.name">
        <div class='col s2'>
          <div class="z-depth-2 card hoverable">
            <h5>Rolarea: {{rol.name}}</h5>
            <a class="waves-effect blue btn" (click)="onDetail(rol)">info</a>
          </div>
        </div>

      </div>
    </div>
  </mat-expansion-panel>
</div>
