<h1 class="center">Creacion de Roles</h1>
<hr>

<form [formGroup]="rolForm" autocomplete="off" class="container" (ngSubmit)="onSubmitForm()">


  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input formControlName="name" class="form-control" type="text" placeholder="Nombre del rol">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Leer documentos</label>
      <div class="col-8">
        <select formControlName="read" class="browser-default">
          <option value="false" selected>false</option>
          <option value="true">true</option>
        </select>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Crear documentos</label>
    <div class="col-8">
      <select formControlName="create" class="browser-default">
        <option value="false" selected>false</option>
        <option value="true">true</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Editar documentos</label>
    <div class="col-8">
      <select formControlName="update" class="browser-default">
        <option value="false" selected>false</option>
        <option value="true">true</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Eliminar documentos</label>
    <div class="col-8">
      <select formControlName="delete" class="browser-default">
        <option value="false" selected>false</option>
        <option value="true">true</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Area</label>
    <div class="col-8">
      <select formControlName="area" class="browser-default">
        <option value="" disabled selected>Escoja una area</option>
        <option *ngFor="let area of areasService.listAreas" value={{area.name}} >{{area.name}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
      <button routerLink="/inicio/rol" type="submit" class="btn btn-outline-dark btn-block">
        Modificar Rol Existente
      </button>
    </div>
  </div>

</form>