<div>
    <ul id="slide-out" class="sidenav" style="padding-top: 1%;">
        <li>
            <div class="user-view">
                <div class=" background ">
                </div>

            </div>
        </li>
        <li><i class="material-icons">account_circle</i>{{service.userLoged.userName}}</li>
        <li><a>Rol: {{service.userLoged.rol}}</a></li>
        <li><a>Area: {{service.userLoged.area}}</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Opciones</a></li>
        <li><a class="waves-effect">Editar</a></li>
        <li><a routerLink="" class="waves-effect">logOut</a></li>
    </ul>

</div>