<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>Version</th>
        <th>Nombre</th>
        <th>Creado por</th>
        <th>Revisado por</th>
        <th>Aprobado por</th>
        <th>Publicado</th>
      </tr>
    </thead>
    <tbody *ngFor="let documentos of documentService.listDocuments">
      <tr>
        <td>{{documentos.version}}</td>
        <td>{{documentos.name}}</td>
        <td>{{documentos.createBy}}</td>
        <td>{{documentos.updateBy}}</td>
        <td>{{documentos.acceptBy}}</td>
        <td>{{documentos.publishOn}}</td>
      </tr>
    </tbody>
  </table>
  
  