.card{
    padding: 50px;
    background-color: #0d47a1;
    color: white;
    opacity: 0.8;
}

i{
    font-size: 80px;
}

.page-login{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.page-login::after {
    content: "";
    background-image: url('../../../assets/images/background-login.jpg');
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.row{
    width: 100%;
}