<div class="page-login valign-wrapper">
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4 card center-align">
            <i class="material-icons">work</i>
            <h5>INICIO DE SESIÓN</h5><br>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
                <div class="row">
                    <div class="input-field  col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="email" formControlName="email" type="text">
                        <label for="email">Correo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field  col s12">
                        <i class="material-icons prefix">https</i>
                        <input id="password" formControlName="password" type="password" class="validate">
                        <label for="password">Contraseña</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit"
                        name="action">INICIAR</button>
            </form>
        </div>
        <div class="col s4"></div>
    </div>
</div>