
  .card{
    width: 50%;
    margin: 0 auto;
    padding: 10px 10px;
    text-align: center;
}

i{
    font-size: 30px;
    text-align: center;
}

.btn{
    width: 100%;
    margin-bottom: 5px;
}

.middle{
    color: white;
}

#btn-middle{
    color: blue;
}