<div *ngFor="let area of areaService.listAreas">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{area.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-expansion-panel *ngFor="let rol of rolesService.listRoles" >
      <mat-expansion-panel-header *ngIf="rol.area == area.name">
        <mat-panel-title>
          {{rol.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row" *ngFor="let usuario of userService.listUsers" >
        <div class="row" dragula="DRAGULA_FACTS" *ngIf="usuario.rol == rol.name && usuario.area == area.name">
          <div class='col s4'>
            <div class="z-depth-2 card hoverable">
              <div class="icons circle center-align">
                <img src="../../../assets/images/icon-user.jpg" alt="" width="40%" class="circle">
              </div>
              <h3>{{usuario.name}}</h3>
            </div>
          </div>

        </div>
      </div>
    </mat-expansion-panel>
  </mat-expansion-panel>
</div>