<!--
<div cdkDropListGroup>
  <div class="example-container">
    <h2>Available items</h2>
    <div
      cdkDropList
      [cdkDropListData]="items"
      class="example-list"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)"
      (cdkDrag)="drag($event)">
      <div class="example-box" *ngFor="let item of items" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Shopping basket</h2>

    <div
      cdkDropList
      [cdkDropListData]="basket"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      (cdkDrag)="drag($event)">
      <div class="example-box" *ngFor="let item of basket" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>

-->

<button (click)="clickButton()">buton</button>

<div class='parent'>
  <div class='wrapper'>
      <div id="lista1" class='container' [dragula]="MANY_ITEMS" [(dragulaModel)]='roles'>
          <div *ngFor='let text of roles' [innerHtml]='text.name'></div>
      </div>
      <div id="lista2" class='container' [dragula]="MANY_ITEMS" [(dragulaModel)]='roles2'>
          <div *ngFor='let text of roles2' [innerHtml]='text.name'></div>
      </div>
      <div id="lista3" class='container' [dragula]="MANY_ITEMS" [(dragulaModel)]='roles3'>
        <div *ngFor='let text of roles3' [innerHtml]='text.name'></div>
    </div>
  </div>
  <div class='wrapper'>
      <div class='container'>
          <pre>{{roles | json}}</pre>
      </div>
      <div class='container'>
          <pre>{{roles2 | json}}</pre>
      </div>
      <div class='container'>
        <pre>{{roles3 | json}}</pre>
    </div>
  </div>
</div>
