.card{
    width: 70%;
    margin: 0 auto;
    padding: 10px 30px;
    text-align: center;
}

i{
    font-size: 80px;
    text-align: center;
}

.btn{
    width: 100%;
    margin-bottom: 20px;
}

.middle{
    color: white;
}

#btn-middle{
    color: black;
}
.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  body {
    background-color: #942A57;
    margin: 0 auto;
    max-width: 760px;
  }
  
  html, body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  body, input, button {
    font-family: Georgia, Helvetica;
    font-size: 17px;
    color: #ecf0f1;
  }
  
  h1 {
    text-align: center;
    background-color: #AC5C7E;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
  }
  
  h3 {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 5px solid #A13462;
    text-align: center;
    padding: 10px;
  }
  
  h3 div {
    margin-bottom: 10px;
  }
  
  .tagline {
    margin-top: 0;
  }
  
  .promo {
    margin-bottom: 0;
    font-style: italic;
    padding: 10px;
    background-color: #ff4020;
    border-bottom: 5px solid #c00;
  }
  
  a {
    font-weight: bold;
  }
  a,
  a:hover {
    color: #ecf0f1;
  }
  
  pre {
    white-space: pre-wrap;
  }
  
  pre code {
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
  }
  
  label {
    display: block;
    margin-bottom: 15px;
  }
  
  sub {
    display: block;
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 11px;
    font-style: italic;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  .parent {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 50px 0;
    padding: 20px;
  }
  
  input {
    border: none;
    outline: none;
    background-color: #ecf0f1;
    padding: 10px;
    color: #942A57;
    border: 0;
    margin: 5px 0;
    display: block;
    width: 100%;
  }
  
  button {
    background-color: #ecf0f1;
    color: #942A57;
    border: 0;
    padding: 18px 12px;
    margin-left: 6px;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #e74c3c;
    color: #ecf0f1;
  }
  
  .gh-fork {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
  }
  
  /* dragula-specific example page styles */
  .wrapper {
    display: table;
  }
  .container {
    display: table-cell;
    background-color: rgba(255, 255, 255, 0.2);
    width: 50%;
  }
  .container:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
  }
  /*
   * note that styling gu-mirror directly is a bad practice because it's too generic.
   * you're better off giving the draggable elements a unique class and styling that directly!
   */
  .container div, .gu-mirror:not(.container) {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
  }
  .container div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  .gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  .container .ex-moved {
    background-color: #e74c3c;
  }
  .container.ex-over {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .handle {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: move;
  }
  